@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h2>问候_greeting</h2>
    @ViewBag.Hello
    <br />
    @ViewBag.Greeting - TEXT<b />
    @ViewBag.Greeting, 你好!

    <hr/>


</div>